/*-------------------------------------------------------*/
/* Font Settings                                         */
/*-------------------------------------------------------*/

html {
    font-family: "Segoe UI"
}

.banner {
    font-family: verdana;
    font-size: 300%;
    font-weight: bold;
}

/*---------------------------------------------------------*/
/* Layout Settings                                         */
/*                                                         */
/* References:                                             */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/*---------------------------------------------------------*/

html, body {
    height: 100%;
    margin: 0;
}

.page {
    height: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "banner banner"
        "menu content"
        "menu footer";
}

.banner {
    grid-area: banner;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3em;
}

.banner-icon {
    text-align: center;
    margin-left: 0.5em;
    height: 2em;
}

.banner-text {
    margin-left: 1em;
}

.menu {
    grid-area: menu;
    width: 10em;
    display: flexbox;
}

.menu a:link {
    text-decoration: none;
}

.menu-item {
    display: flexbox;
    align-content: center;
    padding-left: 1.5em;
    height: 3em;
}

.content {
    grid-area: content;
}

.packages {
    margin: 5em auto 1em auto;
    width: 80%;
}

h1, h2 {
    text-align: center;
}

/*
table {
    height: 1px;
}
*/

table, tr, th, td {
    height: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
}

th {
    height: 4em;
}

.table-button {
    padding: 0;
    text-align: center;
    vertical-align: center;
}

.table-button a {
    display: block flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer {
    grid-area: footer;
    height: 50px;
    padding-left: 2em;
    border-width: 1px 0 0 0;
    border-style: solid;
    display: flexbox;
    align-content: center;
}

.icon {
    width: 2em;
    height: 2em;
    margin: 1em;
    shape-rendering: auto;
    fill: none;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/*--------------------------------------------------------------------------------*/
/* Color Settings                                                                 */
/*                                                                                */
/* References:                                                                    */
/* https://m2.material.io/design/color/the-color-system.html#color-theme-creation */
/*--------------------------------------------------------------------------------*/

:root {
    --foreground-color: rgb(33, 37, 41);
    --background-color: white;
    --menu-color: #A8A8A8;
    --menu-text-color: white;
    --menu-hover-color: #909090;
    --table-border-color: gray;
    --table-header-color: #81D4FA;
    --table-button-hover-color: lightgrey;
    --table-button-link-color: #1565c0 /* #0000EE;*/
}

body {
    color: var(--foreground-color);
    background-color: var(--background-color);
}

.banner {
    background-image: linear-gradient(#C8C8C8, #A8A8A8);
}

.menu {
    background-color: var(--menu-color);

}

.menu a:link {
    color: var(--menu-text-color);
}

.menu a:visited {
    color: var(--menu-text-color);
}

.menu-item:hover {
    background-color: var(--menu-hover-color);
}

table, tr, th, td {
    border-color: var(--table-border-color);
}

th {
    background-color: var(--table-header-color);
}

.table-button .icon {
    stroke: var(--table-button-link-color);
}

.table-button a:hover {
    background-color: var(--table-button-hover-color);
}

.footer {
    border-color: var(--table-border-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: antiquewhite;
        --background-color: rgb(33, 37, 41);
        --menu-color: #404040;
        --menu-text-color: antiquewhite;
        --menu-hover-color: darkslategrey;
        --table-header-color: #01579B;
        --table-button-hover-color: darkslategrey;
        --table-button-link-color: #4FC3F7;
    }

    .banner {
        background-image: linear-gradient(#5A5A5A, #404040);
    }

    a {
        color: #4FC3F7;
    }
}
